---
layout: style
---
.navbar-default .navbar-brand {
	color: #00a54e;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #00a54e;
}

.btn-xl {
	background-color: #00a54e;
	border-color: #00a54e;

}