---
layout: style
---

a {
	color: #00a54e;
}

a:active {
	color: #00a54e;
}




.navbar-default .nav li a:hover, .navbar-default .nav li a:focus { 
	color: #00a54e;
}


.navbar-default .navbar-brand {
	color: #00a54e;
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
	color: #00842c;

}

.navbar-default .navbar-nav > .active > a {
	background-color: #00a54e;
}

.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #00a54e;
}

.btn-xl {
	background-color: #00a54e;
	border-color: #00a54e;

}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    border-color: #00842c;
    color: #fff;
    background-color: #00842c;
}


.timeline > li .timeline-image {

	background-color: #00a54e;
}

section h3.section-subheading {
	line-height: 20pt;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.timeline-image:hover .overlay {
  opacity: .75;
}