<!-- Services Section -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Details</h2>
                    <h3 class="section-subheading"></h3> 

                    <h3 class="section-subheading">The Transvisionary Oracle will stand 6 feet tall, constructed of CNC routed plywood. Powered by an Android tablet, it will provide agents with a touch-screen interface for communicating with the Shapers using glyphs. The Oracle will be illuminated with LEDs, and its interface amplified by a portable bluetooth speaker. This setup can be powered by A/C or by battery if necessary.</h3>

                    <h3 class="section-subheading">The interface will run a “fortune telling” app which accepts free form questions from chosen agents using glyphs, returning answers in glyphs as well. The software powering the communication interface is based on an open source (GNU GPL) glyphing practice app written by @geckour. The source code for the fortune telling app in progress can be found on

<a href="https://github.com/winonatong/transvisionary-oracle" target="github">GitHub</a></h3>

                    <h3 class="section-subheading">The structure will be adorned with the work of artisans within the Enlightened community, including glasswork, metalwork and paintings.</h3>

                    <h3 class="section-subheading">The oracle is designed to be transported as a partially assembled flat pack that can fit onto the roof rack of any compact vehicle. It can be easily deployed and dismantled on site with several screws. The footprint ensures that city-dwelling agents are not over-burdened by the storage of the project.</h3>

                    <h3 class="section-subheading">The Transvisionary Pyramid will be made primarily at the TechShop in San Francisco, CA. As a public access workshop, there are inherent risks in equipment being unavailable due to high demand, malfunction and required maintenance. We plan to mitigate this risk by starting construction as soon as the proposal is accepted, allowing us a 1 month buffer in which the project can be completed. Furthermore, there are 2 additional TechShop locations in the San Francisco Bay Area, both of which have the same equipment we intend to use.</h3>
                </div>
            </div>
           
        </div>
    </section>