  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>

                <div class="col-md-8">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://www.viridcascadia.com">Omniscient</a>
                        </li> | 
                        <!--li><a href="#">Trickster</a>
                        </li-->
                        <li><a href="https://www.luminescentheart.com">Humanist</a>
                        </li> | 
                        <li><a href="https://mimming.com/gachaception/">Catalyst</a>
                        </li> | 
                        <li><a href="http://magnus.sfenl.org/">Visionary</a>
                        </li> | 
                        <li><a href="http://cloud.merkurboys.com/index.php/s/txSGLR2BssAJIj3">Alchemist</a>
                        </li> | 
                        <li><a href="http://tinyurl.com/magnusflora">Dreamer</a>
                        </li> | 
                        <!--li><a href="#">Spiritualist</a>
                        </li>
                        <li><a href="#">Interpreter</a>
                        </li>
                        <li><a href="#">Explorer</a>
                        </li-->
                        <li><a href="http://tinyurl.com/camplistener">Listener</a>
                        </li>
                        <!--li><a href="#">Skeptic</a>
                        </li>
                        <li><a href="#">Patron</a>
                        </li-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
