<!-- Services Section -->
    <section id="links">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Links</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <a href="https://github.com/winonatong/Glyph-Fortune-Teller/" target="github"><div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Transvisionary Oracle Android App</h4>
                    <p class="text-muted">Check out our source code!</p>
                </div></a>
                <a href="https://www.dropbox.com/sh/vcqzl8pozadkmhl/AACFULw4vs4AgrJedSB6C49ka?dl=0" target="dropbox"><div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dropbox fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Documents</h4>
                    <p class="text-muted">See our design documents in detail</p>
                </div></a>
                <a href="http://www.youtube.com/embed/HrCISUl6YvI?rel=0&autoplay=1" target="video"><div class="col-md-4">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Video</h4>
                    <p class="text-muted">Watch our video on how agents can interact with the Transvisionary Oracle!</p>
                </div></a>
            </div>
            <div class="video-container">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/HrCISUl6YvI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>