<!-- Services Section -->
    <section id="lore">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lore</h2>
                    <h3 class="section-subheading">It has long been believed that the Transamerica Pyramid’s name was derived from Across (Trans) America.  However, Enlightened scholars studying what may have been ancient portals and scanner devices in the Middle East have posited that it actually refers to the doorway (transom) to Merica.</h3> 

                    <h3 class="section-subheading">The ancient Mandaeans believed in a western paradise “marked by a star, the name of which is ‘Merica,’” which was called “those carried away by truth” or msunia kušṭa. This belief was carried on by the early Knights Templar, and Charles Martel, grand master of masons, sent a contingent of Freemasons from France to Merica in 701 to “restore the craft” after several hundred years of neglect.</h3>

                    <h3 class="section-subheading">Should it be surprising then, that many of San Francisco’s Freemason founders (Fremont, Stevenson, O’Farrell and Montgomery) arranged a configuration of streets and buildings culminating in the Masonic Pyramid being carved into the city’s street map itself, with the Transamerica Pyramid precisely where the All Seeing Eye would be?</h3>

                    <h3 class="section-subheading">In an attempt to utilize the connection between the Ship Niantic and the Transamerica Pyramid to enhance communication with the shapers via the ephemeral glyph language, SF-ENL plans to build a stylized replica of the Transamerica Pyramid for Magnus Reawakens called the Transvisionary Oracle.</h3>
                </div>
            </div>
           
        </div>
    </section>