<!-- Portfolio Grid Section -->
    <!--section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Plans</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section-->

<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The Transamerica Pyramid in San Francisco, California was built next to the site of the Ship Niantic. The San Francisco Enlightened believe that this location is of special importance to our understanding of XM and the Shapers. We plan on building a stylized replica of the Transamerica pyramid for Magnus Reawakens in an attempt to communicate with the Shapers.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal"><img class="img-circle img-responsive" src="img/about/sketch-thumb.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Artist's rendering of the Shaper communication device</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal"><img class="img-circle img-responsive" src="img/about/plans-thumb.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Blueprints</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The pyramid will be 6 feet tall and constructed of CNC routed plywood. It will be powered by an Android tablet, which provides agents with a touch-screen interface for communicating with the Shapers using glyphs. The pyramid will be illuminated with LEDs, and the tablet will be amplified by a portable bluetooth speaker. This setup can be powered by A/C or by battery if necessary.</p>
                                    <p class="text-muted">The structure will be adorned with the work of artisans within the Enlightened community, including glasswork and paintings.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal"><img class="img-circle img-responsive" src="img/about/model-thumb.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Proof of Concept</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We built a 1/3 scale model to put our design to the test. The android device runs a fortune telling app that accepts a free form question from an agent using glyphs and returns an answer, also using glyphs. The software on the tablet is based on an open source (GNU GPL) glyphing practice app written by @geckour. The source code for the fortune telling app in progress can be found on

<a href="https://github.com/winonatong/Glyph-Fortune-Teller/">GitHub</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">See the model in action</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We filmed a short video on how agents can interact with the Transvisionary Oracle! View it on <a href="https://youtu.be/HrCISUl6YvI">YouTube</a>!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Come &amp;
                                    <br>touch it
                                    <br>in person!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>